<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoL Champ Finder</title>
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<h1 class="title">League of Legends Champion Suggestion</h1>
				<p>Type in your teamcomp and we'll suggest a champion for you to pick!</p>
			</div>
		</div>
	</div>
</body>